
/* formatação da pagina comleta*/
.corpo {
font-family: "Roboto Slab", serif;
background-color: #66CCFF;
}
/* formatação do menu de navegação */
.cabecario {
	width: 90%;
	height: auto;
	position: relative;
	top: 0;
	left:0;
}

/* formatação do memu da pagina*/
#menu {
	position: absolute;
	bottom: -35px;
	right: 0;
}
/*formatação da lista da navegação*/
#menu ul li {
	display: inline;
	margin-left: 20px;

}

/* 1ª formatação do link */
#menu a {
	text-decoration: none;
	color: rgba(0,0,0,.8);
}

/* 2ª formatação do link */
#menu a:hover{
	text-decoration: underline;
	color:black;
}

/* formatação da linha na horizontal abaixo do menu*/
hr {
	margin: 30px 0;
}

.formata-link {
	text-decoration: none;
	color: rgba(0,0,0,.8);
}
/*formatação do formulario*/
 

/* formatação do bloco de formulario*/
.formulario{
	width: 40%;
	margin: 0 auto;
	position: relative;
	top: 20px;
	left: 0;
}

/* formatação das div que conterm os input / labels*/
.campos{
	position: relative;
	top: 0;
	left: 0;
}

/*formatação do titulo do formulario*/
.centro {
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.3);
	padding-bottom: 5px;
	font: normal 20pt Arail;
}

/*formatação dos inputs*/
.input {
	width: 90.5%;
	float:left;
}

/* classe que muda a largura dos inputs em especificos*/
.largura {
	width: 93.2%;
	float:left;
}

/* altera a largura de inputs em especifico*/
.largura2{
width: 92.8%;
float:right;	
}


/*formatação da div que esta no final do formulario com botao submit*/
#botao {
	position: relative;
	bottom: 0;
	left: 0;
}

/* classe usada para centralizar elemento html*/
.centraliza {
	text-align: center;
}


/* classe que faz o alinhamento para a esquerda*/
.p-left{
	float:left;
	margin-top: -5px;
}

/* clase que faz o alinhamento para a direita*/
.p-right{
	position: relative;
	top: 0;
	left: 52%;
}